@media (min-width: 265px) and (max-width: 768px) {
	.title {
		font-size: 30px !important;
		font-family: 'Roboto Slab', serif;
		font-weight: 700;
		line-height: 1.24;
	}
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

.fl-right {
	float: right
}

.fl-left {
	float: left
}

.center-block {
	margin: 0 auto
}

.absolute-position {
	position: absolute
}

.relative-position {
	position: relative
}

.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
	content: "";
	display: table
}

.clearfix:after,
.row:after {
	clear: both
}

.clearfix,
.row {
	zoom: 1
}

.baa3 .breadcrumbs,
.baa3 .footer .disclaimer-footer .sys-menu,
.baa3 .header .main-menu,
.baa3 .read-more-links ul,
.baa3 .social-bar,
.baa3 .social-list,
.form-list,
.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block
}

.baa3 .breadcrumbs li,
.baa3 .footer .disclaimer-footer .sys-menu li,
.baa3 .header .main-menu li,
.baa3 .read-more-links ul li,
.baa3 .social-bar li,
.baa3 .social-list li,
.form-list li,
.list-reset li {
	padding: 0;
	margin: 0
}

.form-list.inline>li {
	display: inline-block;
	vertical-align: top
}

.vertical-align-flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center
}

.clear {
	clear: both
}

.centered {
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto
}

@media (min-width:768px) {
	.centered {
		max-width: 750px
	}
}

@media (min-width:992px) {
	.centered {
		max-width: 970px
	}
}

@media (min-width:1200px) {
	.centered {
		max-width: 1170px
	}
}

.text-uppercase {
	text-transform: uppercase
}

.text-center {
	text-align: center !important
}

.text-right {
	text-align: right !important
}

.text-left {
	text-align: left !important
}

.text-success {
	color: #40a73f !important
}

.text-alert {
	color: #d33342 !important
}

.text-warning {
	color: #ebd943 !important
}

.text-secondary {
	color: #3079bc !important
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.absolute-center,
.baa3 .comment-block .comment-btn .comment-icon:before,
.baa3 .social-bar li.social-item a:before,
.baa3 .social-list li a:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto
}

.bold {
	font-weight: 700
}

.hidden {
	display: none
}

@media (max-width:992px) {
	.hide-on-mobile {
		display: none !important
	}
}

.show-on-mobile {
	display: none
}

@media (max-width:992px) {
	.show-on-mobile {
		display: block !important
	}
}

.row {
	margin-left: -15px;
	margin-right: -15px
}

.row .columns {
	float: left;
	padding-left: 15px;
	padding-right: 15px
}

.row .columns.end {
	float: right
}

.row.collapse {
	margin: 0
}

.row.collapse .columns {
	padding: 0
}

.row.expanded {
	margin-left: auto;
	margin-right: auto
}

.row .large-1 {
	width: 8.33333%
}

.row .large-2 {
	width: 16.66667%
}

.row .large-3 {
	width: 25%
}

.row .large-4 {
	width: 33.33333%
}

.row .large-5 {
	width: 41.66667%
}

.row .large-6 {
	width: 50%
}

.row .large-7 {
	width: 58.33333%
}

.row .large-8 {
	width: 66.66667%
}

.row .large-9 {
	width: 75%
}

.row .large-10 {
	width: 83.33333%
}

.row .large-11 {
	width: 91.66667%
}

.row .large-12 {
	width: 100%
}


#app,
body,
html {
	height: 100%
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

img {
	display: block;
	max-width: 100%
}

@media (max-width:728px) {
	.logo-m {
		max-width: 72%;
		margin-top: 1px;
	}
}

.row {
	margin-left: -40px;
	margin-right: -40px
}

.row .columns {
	padding-left: 40px;
	padding-right: 40px
}

.row .large-8 {
	width: 70%;
	border-right: 3px solid #f1f1f1
}

.row .large-4 {
	width: 30%
}

a {
	color: #337ab7;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

.mb-20 {
	margin-bottom: 20px
}

@keyframes sonarEffect {
	0% {
		opacity: .3
	}

	40% {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, .1), 0 0 10px 10px #fff, 0 0 0 10px rgba(0, 0, 0, .2);
		opacity: .5
	}

	to {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, .1), 0 0 10px 10px #fff, 0 0 0 10px rgba(0, 0, 0, .2);
		opacity: 0;
		transform: scale(1.6)
	}
}

.baa3 {
	min-height: 100%;
	background: #f1f1f1;
	padding-top: 50px;
	font-size: 20px;
	font-family: Arial, Verdana, sans-serif;
	overflow-x: hidden
}

@media (max-width:1240px) {
	.baa3 {
		padding-top: 70px
	}
}

@media (max-width:1024px) {
	.baa3 {
		padding-top: 60px
	}
}

@media (max-width:728px) {
	.baa3 {
		padding-top: 30px;
		font-size: 18px
	}
}

.baa3 b,
.baa3 strong {
	/* font-weight: 400; */
	font-family: OpenSansBold, sans-serif
}

.baa3 h2 {
	font-size: 24px;
	line-height: 32px;
	font-family: "Roboto Slab", serif;
	letter-spacing: .02em;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 6px
}

@media (max-width:728px) {
	.baa3 h2 {
		font-size: 20px;
		line-height: 28px
	}
}

.baa3 .social-list {
	margin-left: auto;
	margin-top: 10px
}

.baa3 .social-list li {
	float: left
}

.baa3 .social-list li a {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	position: relative
}

.baa3 .social-list li a.fb-icon {
	background: #315c97
}

.baa3 .social-list li a.fb-icon:before {
	background: url("") no-repeat;
	-webkit-background-size: 32px 32px;
	-moz-background-size: 32px 32px;
	background-size: 32px 32px
}

.baa3 .social-list li a.tw-icon {
	background: #39a9e0
}

.baa3 .social-list li a.tw-icon:before {
	background: url("") no-repeat;
	-webkit-background-size: 32px 32px;
	-moz-background-size: 32px 32px;
	background-size: 32px 32px
}

.baa3 .social-list li a.pin-icon {
	background: #cd1d1f
}

.baa3 .social-list li a.pin-icon:before {
	background: url("") no-repeat;
	-webkit-background-size: 32px 32px;
	-moz-background-size: 32px 32px;
	background-size: 32px 32px
}

.baa3 .social-list li a.in-icon {
	background: #517fa3
}

.baa3 .social-list li a.in-icon:before {
	background: url("") no-repeat;
	-webkit-background-size: 32px 32px;
	-moz-background-size: 32px 32px;
	background-size: 32px 32px
}

.baa3 .social-list li a:before {
	content: "";
	width: 32px;
	height: 32px
}

.baa3 .social-list li+li {
	margin-left: 6px
}

.baa3 .channel-btn {
	float: right;
	padding: 8px 24px;
	color: #fff;
	background: #eb1e25;
	font-size: 24px;
	line-height: 24px;
	font-family: OpenSansBold, sans-serif;
	margin-top: 2px
}

.baa3 .mobile-btn {
	display: none;
	margin-bottom: 20px
}

.baa3 .mobile-btn .channel-btn {
	float: none;
	padding: 7px 18px 8px;
	font-size: 20px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	margin-left: -15px
}

@media (max-width:1028px) {
	.baa3 .mobile-btn {
		display: block
	}
}

@media (max-width:728px) {
	.baa3 .mobile-btn .channel-btn {
		padding: 4px 18px 5px
	}
}

.baa3 .header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1111;
	background: #eb1e25;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding-right: 10px
}

/*@media (max-width:728px) {
	.baa3 .header {
		background: rgba(255,0,8,0.78);
		 backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
	}}*/

.baa3 .header .menu-toggle {
	height: 60px;
	width: 55px;
	background: #eb1e25;
	position: relative;
	float: left;
	display: none
}

/*@media (max-width:728px) {
	.baa3 .header .menu-toggle {
		background: rgb(255 217 217 / 18%);
		 backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
	}}*/


.baa3 .header .menu-toggle:after,
.baa3 .header .menu-toggle:before,
.baa3 .header .menu-toggle span {
	border-radius: 3px;
	background: #fff;
	content: "";
	height: 3px;
	left: 7px;
	position: absolute;
	width: 25px
}

.baa3 .header .menu-toggle:before {
	left: 15px;
	top: 21px
}

.baa3 .header .menu-toggle:after {
	left: 15px;
	top: 35px
}

.baa3 .header .menu-toggle span {
	left: 15px;
	top: 28px
}

.baa3 .header .logo {
	float: left;
	width: 160px;
	margin-right: 10px;
	margin-left: 28px;
	margin-top: 14px;
}

@media (max-width:728px) {
	.baa3 .header .logo {
		margin-left: 8px;
	}
}


.baa3 .header .main-menu li {
	float: left
}

.baa3 .header .main-menu li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 18px 8px;
	position: relative
}

.baa3 .header .main-menu li a:hover {
	color: #e0e0e0
}

.baa3 .header .main-menu li.has-children a {
	padding-right: 25px
}

.baa3 .header .main-menu li.has-children a:after {
	content: "";
	border-color: #fff transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	font-size: 0;
	height: 0;
	width: 0;
	position: absolute;
	right: 10px;
	top: 38px
}

@media (max-width:1240px) {
	.baa3 .header .logo {
		width: 186px
	}

	.baa3 .header .main-menu li a {
		padding: 26px 8px;
		font-size: 15px
	}

	.baa3 .header .main-menu li.has-children a:after {
		top: 33px
	}

	.baa3 .header .social-list {
		margin-top: 18px
	}
}

@media (max-width:1024px) {
	.baa3 .header .menu-toggle {
		display: block
	}

	.baa3 .header .main-menu {
		display: none
	}

	.baa3 .header .logo {
		width: 160px
	}

	.baa3 .header .social-list {
		margin-top: 13px
	}
}

@media (max-width:728px) {
	.baa3 .header .menu-toggle {
		width: 38px;
		height: 50px
	}

	.baa3 .header .menu-toggle:after,
	.baa3 .header .menu-toggle:before,
	.baa3 .header .menu-toggle span {
		width: 20px
	}

	.baa3 .header .menu-toggle span {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto
	}

	.baa3 .header .menu-toggle:after,
	.baa3 .header .menu-toggle:before {
		left: 0;
		right: 0;
		margin: 0 auto
	}

	.baa3 .header .menu-toggle:before {
		top: 18px
	}

	.baa3 .header .menu-toggle:after {
		top: 30px
	}

	.baa3 .header .logo {
		width: 133px
	}

	.baa3 .header .social-list {
		display: none
	}
}

.baa3 .container {
	max-width: 1240px;
	padding: 24px 30px;
	margin: 0 auto 75px;
	background: #fff
}

@media (max-width:1240px) {
	.baa3 .container {
		padding: 20px 15px;
		margin-bottom: 0
	}
}

.baa3 .breadcrumbs {
	margin-bottom: 10px
}

.baa3 .breadcrumbs,
.baa3 .breadcrumbs li {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center
}

.baa3 .breadcrumbs li {
	float: left
}

.baa3 .breadcrumbs li a {
	color: #494949;
	font-size: 11px;
	line-height: 11px;
	font-family: OpenSansBold, sans-serif;
	margin-left: 10px;
	margin-right: 9px;
	display: block
}

.baa3 .breadcrumbs li a span {
	font-family: OpenSansBold, sans-serif;
	font-size: 22px;
	color: #fff;
	width: 25px;
	height: 25px;
	background: #eb1e25;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center
}

.baa3 .breadcrumbs li a:hover {
	text-decoration: underline
}

.baa3 .breadcrumbs li+li:before {
	content: "";
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border: 4px solid #e7a402;
	border-right-width: 0;
	display: inline-block
}

.baa3 .breadcrumbs li:first-child a {
	margin-left: 0
}

@media (max-width:1028px) {
	.baa3 .breadcrumbs {
		display: none
	}
}

.baa3 .article>h1 {
	font-size: 45px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	line-height: 1.24;
	position: relative;
	margin: 0 0 20px
}

.baa3 .article>h1:before {
	background-color: #eb1e25;
	content: "";
	height: calc(100% - 25px);
	left: -31px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 8px
}

.baa3 .article>h1+p {
	color: #626262;
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 20px
}

.baa3 .article p {
	font-size: 17px;
	font-family: Arial;
	line-height: 27px;
	word-break: break-word;
	color: #000000;
	margin: 0 0 20px
}

@media (max-width:1240px) {
	.baa3 .article>h1:before {
		display: none
	}
}

@media (max-width:1028px) {
	.baa3 .article>h1 {
		padding: 0;
		font-size: 38px
	}

	.baa3 .article>h1+p {
		font-size: 16px
	}
}

@media (max-width:1023px) {
	.baa3 .article .row {
		margin-left: -15px;
		margin-right: -15px
	}

	.baa3 .article .row .columns {
		width: 100%;
		padding: 0;
		float: none;
		border: none
	}

	.baa3 .article .row .large-4,
	.baa3 .article .sharebar.vertical {
		display: none
	}

	.baa3 .article .sharebar.vertical+.center {
		padding-left: 0
	}

	.baa3 .article h2,
	.baa3 .article h3,
	.baa3 .article h4,
	.baa3 .article h5,
	.baa3 .article p,
	.baa3 .center>a span {
		padding: 0 12px
	}
}

@media (max-width:728px) {
	.baa3 .article p {
		font-size: 17px;
		font-family: Arial;
		line-height: 27px;
		word-break: break-word;
		margin-bottom: 30px
	}
}

.baa3 .article-meta {
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	margin-bottom: 20px
}

.baa3 .article-meta .am-left {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	float: left
}

.baa3 .article-meta .article-author {
	margin-left: 15px;
	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 5px;
	color: #494949;
	border-left: 1px solid #e0e0e0
}

.baa3 .article-meta .article-author .author-name {
	font-size: 15px
}

.baa3 .article-meta .article-author .author-name a {
	color: #e7a402;
	text-decoration: underline;
	font-family: OpenSansBold, sans-serif
}

.baa3 .article-meta .article-author .article-date {
	text-transform: uppercase;
	font-size: 11px
}

@media (max-width:1240px) {
	.baa3 .article-meta {
		padding: 6px 0
	}
}

@media (max-width:728px) {
	.baa3 .article-meta {
		padding: 0 12px;
		border: none
	}

	.baa3 .article-meta .am-left {
		display: block;
		float: none
	}

	.baa3 .article-meta .channel-btn {
		display: none
	}

	.baa3 .article-meta .sharebar {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #e0e0e0
	}

	.baa3 .article-meta .sharebar .social-bar li.social-item a {
		width: 30px;
		height: 30px
	}

	.baa3 .article-meta .sharebar .social-bar li.social-item a:before {
		width: 30px;
		height: 30px;
		-webkit-background-size: 30px 30px !important;
		-moz-background-size: 30px 30px !important;
		background-size: 30px 30px !important
	}

	.baa3 .article-meta .sharebar .social-bar li.count-shares {
		display: none
	}

	.baa3 .article-meta .comment-block .comment-btn .comment-icon {
		width: 30px;
		height: 30px;
		margin-right: 10px
	}

	.baa3 .article-meta .comment-block .comment-btn .comment-icon:before {
		width: 30px;
		height: 30px;
		-webkit-background-size: 30px 30px !important;
		-moz-background-size: 30px 30px !important;
		background-size: 30px 30px !important
	}

	.baa3 .article-meta .article-author {
		margin: 0;
		padding: 0;
		border-left: none
	}
}

.baa3 .sharebar {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center
}

.baa3 .sharebar.vertical {
	float: left;
	display: block
}

.baa3 .sharebar.vertical .social-bar {
	display: block
}

.baa3 .sharebar.vertical .social-bar li+li {
	margin-left: 0;
	margin-top: 2px
}

.baa3 .sharebar.vertical .comment-block {
	margin: 10px 0 0;
	padding: 10px 0 0;
	border-left: none;
	border-top: 1px solid #e0e0e0
}

.baa3 .sharebar.vertical .comment-block .comment-btn .comment-icon {
	margin: 0
}

.baa3 .sharebar.vertical+.center {
	padding-left: 60px
}

.baa3 .center>a {
	color: #e7a402;
	font-weight: 700;
	text-decoration: underline
}

.baa3 .center h2 a,
.baa3 .center h3 a,
.baa3 .center h4 a,
.baa3 .center h5 a {
	color: #e7a402
}

.baa3 .center p a {
	color: #eb1e25;
	text-decoration: underline;
	font-weight: 700;
	font-size: 18px;
}

.baa3 .center p a.btn {
	margin-bottom: 0;
	color: #fff
}

.baa3 .center p a:hover {
	opacity: .75;
	filter: alpha(opacity=75)
}

.baa3 .btn {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 30px 10px;
	color: #fff !important;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	background: #0077bc;
	border: 2px solid #000;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	font-weight: 700;
	text-decoration: underline
}

.baa3 .btn:hover {
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: .75;
	filter: alpha(opacity=75)
}

@media (max-width:728px) {
	.baa3 .btn {
		padding: 20px 10px;
		font-size: 28px;
		line-height: 28px
	}
}

.baa3 .social-bar {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center
}

.baa3 .social-bar li.count-shares {
	margin-left: 10px
}

.baa3 .social-bar li.count-shares span {
	display: block
}

.baa3 .social-bar li.count-shares span.count-num {
	font-size: 15px;
	color: #141414;
	font-family: OpenSansBold, sans-serif
}

.baa3 .social-bar li.count-shares span.count-text {
	color: #494949;
	font-size: 11px;
	text-transform: uppercase
}

.baa3 .social-bar li.social-item a {
	width: 38px;
	height: 38px;
	display: block;
	border-radius: 100%;
	position: relative;
	-webkit-transition: transform .1s ease-out, background .2s;
	-o-transition: transform ease-out .1s, background .2s;
	transition: transform .1s ease-out, background .2s
}

.baa3 .social-bar li.social-item a.fb-icon {
	background: #315c97
}

.baa3 .social-bar li.social-item a.fb-icon:before {
	background: url("") no-repeat;
	-webkit-background-size: 38px 38px;
	-moz-background-size: 38px 38px;
	background-size: 38px 38px
}

.baa3 .social-bar li.social-item a.fb-icon:hover {
	border: 2px solid #315c97
}

.baa3 .social-bar li.social-item a.tw-icon {
	background: #39a9e0
}

.baa3 .social-bar li.social-item a.tw-icon:before {
	background: url("") no-repeat;
	-webkit-background-size: 38px 38px;
	-moz-background-size: 38px 38px;
	background-size: 38px 38px
}

.baa3 .social-bar li.social-item a.tw-icon:hover {
	border: 2px solid #39a9e0
}

.baa3 .social-bar li.social-item a.pin-icon {
	background: #cd1d1f
}

.baa3 .social-bar li.social-item a.pin-icon:before {
	background: url("") no-repeat;
	-webkit-background-size: 38px 38px;
	-moz-background-size: 38px 38px;
	background-size: 38px 38px
}

.baa3 .social-bar li.social-item a.pin-icon:hover {
	border: 2px solid #cd1d1f
}

.baa3 .social-bar li.social-item a:before {
	content: "";
	width: 38px;
	height: 38px
}

.baa3 .social-bar li.social-item a:after {
	content: "";
	border-radius: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%
}

.baa3 .social-bar li.social-item a:hover {
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05)
}

.baa3 .social-bar li.social-item a:hover:after {
	animation: sonarEffect .45s ease-out
}

.baa3 .social-bar li+li {
	margin-left: 6px
}

.baa3 .comment-block {
	margin-left: 20px;
	padding-left: 15px;
	border-left: 1px solid #e0e0e0
}

.baa3 .comment-block .comment-btn {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center
}

.baa3 .comment-block .comment-btn .comment-icon {
	width: 38px;
	height: 38px;
	border-radius: 100%;
	background: #009c33;
	margin-right: 15px;
	-webkit-transition: transform .1s ease-out, background .2s;
	-o-transition: transform ease-out .1s, background .2s;
	transition: transform .1s ease-out, background .2s;
	position: relative
}

.baa3 .comment-block .comment-btn .comment-icon:before {
	content: "";
	width: 38px;
	height: 38px;
	background: url("") no-repeat;
	-webkit-background-size: 38px 38px;
	-moz-background-size: 38px 38px;
	background-size: 38px 38px
}

.baa3 .comment-block .comment-btn .comment-icon:after {
	content: "";
	border-radius: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%
}

.baa3 .comment-block .comment-btn .comment-icon:hover {
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05)
}

.baa3 .comment-block .comment-btn .comment-icon:hover:after {
	animation: sonarEffect .45s ease-out
}

.baa3 .comment-block .comment-btn .comment-text {
	color: #494949;
	font-size: 11px;
	text-transform: uppercase
}

.baa3 .comment-block .comment-btn .comment-details {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.baa3 .comment-block .comment-btn .comment-details .comment-num {
	font-size: 15px;
	color: #000;
	font-family: OpenSansBold, sans-serif
}

.baa3 .read-more-links {
	background-color: #f1f1f1;
	border: 1px solid #e0e0e0;
	margin-bottom: 23px;
	margin-top: 39px;
	position: relative
}

.baa3 .read-more-links a {
	display: block
}

.baa3 .read-more-links ul {
	padding: 8px 0 0
}

.baa3 .read-more-links h5 {
	background-color: #141414;
	color: #fff;
	font-size: 14px;
	line-height: 29px;
	left: 9px;
	margin: 0;
	padding: 0 9px 0 40px;
	position: absolute;
	text-transform: uppercase;
	top: -15px
}

.baa3 .read-more-links h5:after {
	content: "P";
	position: absolute;
	top: 0;
	left: 0;
	width: 29px;
	height: 29px;
	background: #e7a402;
	font-size: 22px;
	color: #fff;
	font-family: OpenSansBold, sans-serif;
	text-align: center
}

.baa3 .read-more-links.instruction {
	padding: 30px 15px 15px
}

.baa3 .read-more-links ul li {
	border-top: 1px solid #e0e0e0;
	line-height: 1;
	margin: 0;
	padding: 17px 24px
}

.baa3 .read-more-links ul li a {
	font-size: 28px;
	line-height: 1.45;
	font-weight: 400;
	color: #141414;
	position: relative;
	text-decoration: none
}

.baa3 .read-more-links ul li a:hover {
	text-decoration: underline
}

@media (max-width:728px) {
	.baa3 .read-more-links ul li a {
		font-size: 18px;
		line-height: 1.45
	}
}

.baa3 .read-more-links ul li:first-child {
	border-top: 0
}

.baa3 .read-more-links ul li a:before {
	border: 6px solid transparent;
	border-left-color: #141414;
	content: " ";
	display: inline-block;
	height: 0;
	left: -12px;
	line-height: 0;
	position: absolute;
	top: 6px;
	width: 0
}

.baa3 .in-article-image {
	margin: 0 0 23px
}

.baa3 .in-article-image figcaption {
	background-color: #f1f1f1;
	line-height: 1.4;
	padding: 11px 12px
}

.baa3 .in-article-image figcaption .caption {
	font-size: 20px;
	color: #2c2c2c;
	font-weight: 700
}

.baa3 .in-article-image figcaption .credit {
	font-size: 11px;
	color: #141414;
	margin-left: 2px
}

.baa3 .add-comment {
	margin-bottom: 25px
}

.baa3 .add-comment .ac-top {
	border-bottom: 1px solid #e9ebee;
	line-height: 25px;
	margin-bottom: 24px;
	padding: 8px 0
}

.baa3 .add-comment .ac-top .add-comment-text {
	font-family: OpenSansBold, sans-serif;
	font-size: 14px
}

.baa3 .add-comment .ac-top .ac-sort .ac-text {
	font-size: 14px;
	color: #4b4f56
}

.baa3 .add-comment .ac-top .ac-sort .ac-btn {
	margin-left: 2px;
	font-size: 12px;
	line-height: 22px;
	background-color: #f6f7f9;
	border: 1px solid #ced0d4;
	border-radius: 2px;
	padding: 0 8px;
	color: #4b4f56;
	display: inline-block;
	vertical-align: middle;
	font-family: OpenSansBold, sans-serif
}

.baa3 .add-comment .ac-top .ac-sort .ac-btn:hover {
	background: #e9ebee
}

.baa3 .add-comment .ac-top .ac-sort .ac-btn:active {
	background-color: #dddfe2;
	border-color: #bec2c9
}

.baa3 .add-comment .ac-form .acf-image {
	float: left;
	margin-right: 8px
}

.baa3 .add-comment .ac-form .acf-details {
	overflow: hidden
}

.baa3 .add-comment .ac-form .acf-details .acf-field {
	width: 100%;
	padding: 9px 8px;
	font-size: 14px;
	border: 1px solid #d3d6db;
	resize: vertical;
	min-height: 58px;
	vertical-align: top
}

.baa3 .add-comment .ac-form .acf-details .acf-actions {
	padding: 8px 8px 8px 13px;
	background: #f6f7f9;
	border-left: 1px solid #d3d6db;
	border-right: 1px solid #d3d6db;
	border-bottom: 1px solid #d3d6db
}

.baa3 .add-comment .ac-form .acf-details .acf-actions .acf-label {
	color: #90949c;
	font-size: 12px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 3px;
	cursor: pointer
}

.baa3 .add-comment .ac-form .acf-details .acf-actions .acf-label input {
	margin-right: 8px
}

.baa3 .add-comment .ac-form .acf-details .acf-actions .acf-btn {
	border-radius: 2px;
	background-color: #9cb4d8;
	border: 1px solid #9cb4d8;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	line-height: 22px;
	font-family: OpenSansBold, sans-serif;
	cursor: default
}

@media (max-width:1024px) {

	.baa3 .add-comment,
	.baa3 .add-comment+.comments {
		padding: 0 12px
	}
}

.baa3 .comment-item {
	padding: 8px 0
}

.baa3 .comment-item .ci-img {
	width: 48px;
	float: left;
	margin-right: 10px
}

.baa3 .comment-item .ci-img img {
	margin-bottom: 0
}

.baa3 .comment-item .ci-name {
	color: #365899;
	font-size: 14px;
	line-height: 19px;
	font-family: OpenSansBold, sans-serif;
	display: inline-block;
	vertical-align: middle
}

.baa3 .comment-item .ci-details {
	overflow: hidden;
	font-size: 12px;
	line-height: 15px;
	font-family: OpenSansRegular, sans-serif
}

.baa3 .comment-item .ci-details .ci-top {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center
}

.baa3 .comment-item .ci-details .ci-top .ci-location {
	font-size: 14px;
	margin-left: 3px
}

.baa3 .comment-item .ci-details .ci-top .ci-location a {
	color: #71757e
}

.baa3 .comment-item .ci-details .ci-top .ci-location a:hover {
	text-decoration: underline
}

.baa3 .comment-item .ci-details .ci-text {
	margin-top: 5px;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 19px
}

.baa3 .comment-item .ci-details .ci-meta .ci-like a,
.baa3 .comment-item .ci-details .ci-text a {
	color: #4267b2
}

.baa3 .comment-item .ci-details .ci-meta .ci-time {
	color: #6d6e78;
	margin-left: 20px
}

.baa3 .comment-item .ci-details .ci-meta .ci-time a {
	color: #6d6e78
}

.baa3 .comment-item .ci-details .ci-meta a:hover {
	text-decoration: underline
}

.baa3 .comment-item .ci-details .comments {
	margin-top: 14px;
	padding-left: 8px;
	border-left: 1px dotted #d3d6db
}

.baa3 .comment-item .ci-details .comment-item .ci-img {
	width: 36px
}

.baa3 .comment-item .ci-details .comment-item:first-child {
	padding-top: 0
}

.baa3 .more-comments {
	padding: 8px;
	background-color: #f6f7f9;
	margin-top: 7px
}

.baa3 .more-comments a {
	color: #365899;
	font-size: 12px;
	line-height: 16px;
	font-family: OpenSansBold, sans-serif
}

.baa3 .more-comments.large {
	text-align: center;
	padding: 12px;
	background: #1f6bff;
	border-radius: 2px;
	margin: 24px 12px 12px
}

.baa3 .more-comments.large a {
	color: #fff;
	font-size: 14px
}

.baa3 .fb-plugin {
	padding: 8px 8px 8px 18px;
	border-top: 1px solid #e9ebee;
	font-size: 11px;
	margin-bottom: 40px
}

.baa3 .fb-plugin a {
	color: #365899
}

.baa3 .footer {
	padding: 20px 0;
	background: #141414
}

.baa3 .footer .centered {
	max-width: 1240px
}

.baa3 .footer .centered .disclaimer-footer {
	max-width: none
}

.baa3 .footer .disclaimer-footer {
	max-width: 1170px;
	margin: 0 auto;
	text-align: left;
	color: grey
}

.baa3 .footer .disclaimer-footer p {
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	color: #BBBBBB;
}

.baa3 .footer .disclaimer-footer p+p {
	margin-top: 10px
}

.baa3 .footer .disclaimer-footer .sys-menu {
	text-align: center;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.baa3 .footer .disclaimer-footer .sys-menu li {
	display: inline-block;
	vertical-align: middle
}

.baa3 .footer .disclaimer-footer .sys-menu li a {
	color: #BBBBBB;
	font-size: 13px;
	line-height: 18px;
	display: block;
	padding: 0 10px;
	text-decoration: none
}

.baa3 .footer .disclaimer-footer .sys-menu li a {
	text-decoration: underline
}

/* .baa3 .footer .disclaimer-footer .sys-menu li+li a {
	border-left: 1px solid grey
} */

.baa3 .footer .disclaimer-footer .copy {
	color: grey;
	font-size: 11px;
	line-height: 15px;
	padding: 10px 0;
	text-align: center
}