#nocx_paywall_area .paywall-container {
  width: 100%;
  background-color: #fff;
  position: relative;
}

#nocx_paywall_area .paywall-container *,
#nocx_paywall_area .paywall-container *::before,
#nocx_paywall_area .paywall-container *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#nocx_paywall_area .paywall-container h1,
#nocx_paywall_area .paywall-container h2,
#nocx_paywall_area .paywall-container h3,
#nocx_paywall_area .paywall-container h4,
#nocx_paywall_area .paywall-container h5,
#nocx_paywall_area .paywall-container h5 {
  font-family: "SelaneWebSTForty", "Times New Roman", Times, serif;
  font-weight: 400;
}

#nocx_paywall_area .paywall-container h1 {
  font-size: 32px;
}

#nocx_paywall_area .paywall-container h2 {
  font-size: 20px;
}

#nocx_paywall_area .paywall-container h3 {
  font-size: 22px;
}

#nocx_paywall_area .paywall-container h4 {
  font-size: 20px;
}

#nocx_paywall_area .paywall-container p {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 0;
}

#nocx_paywall_area .paywall-container p.gray-900 {
  color: #1a1a1a;
}

#nocx_paywall_area .paywall-container p.semi-bold {
  font-weight: 600;
}

#nocx_paywall_area .paywall-container p.st {
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nocx_paywall_area .paywall-container p.google {
  padding-top: 9px;
  font-family: 'Barlow', 'Roboto',  Helvetica, Arial, sans-serif;
}

#nocx_paywall_area .paywall-container a:hover,
#nocx_paywall_area .paywall-container a:active,
#nocx_paywall_area .paywall-container a:link {
  text-decoration: none;
}

#nocx_paywall_area .paywall-container a.st {
  color: #12239a;
}

#nocx_paywall_area .paywall-container a.cta-faq {
  color: #12239a;
}

#nocx_paywall_area .paywall-container a.cta-google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: #6c757d;
  font-family: 'Barlow', 'Roboto',  Helvetica, Arial, sans-serif;
  padding: 12px;
  border: 1px solid #bdbdbd;
  border-radius: 40px;
}

#nocx_paywall_area .paywall-container a p {
  line-height: 100%;
}

#nocx_paywall_area .paywall-container .cta-paywall {
  font-size: 18px;
  background-color: #13fdfd;
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  display: inline-block;
  padding: 5px 24px 5px;
  border-radius: 20px;
}

#nocx_paywall_area .paywall-container .cta-paywall.outline {
  background-color: #fff;
  border: 1px solid #13fdfd;
}

#nocx_paywall_area .paywall-container .cta-paywall.full {
  width: 100%;
}

#nocx_paywall_area .paywall-container::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(12.3%, #fff), color-stop(89.6%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, #fff 12.3%, rgba(255, 255, 255, 0) 89.6%);
  background: linear-gradient(0deg, #fff 12.3%, rgba(255, 255, 255, 0) 89.6%);
}

#nocx_paywall_area .paywall-container .subscriber-query-container {
  text-align: center;
  padding-top: 25px;
}

#nocx_paywall_area .paywall-container .subscriber-query-container p {
  font-weight: 500;
  margin: 25px auto 15px;
}

#nocx_paywall_area .paywall-container .paywall-content-container {
  padding: 0 15px;
  text-align: center;
  border-top: 1px solid #cfd2d7;
  border-bottom: 1px solid #cfd2d7;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-header {
  padding: 25px 0;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-header h1 {
  margin-bottom: 24px;
  font-size: 22px;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan {
  border: 1px solid #dee2e6;
  width: 100%;
  margin: 0 auto 20px;
  border-radius: 4px;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan.recommended-plan {
  border: 1px solid #fbdb32;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan.recommended-plan .recommended {
  background-color: #fbdb32;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan.recommended-plan .recommended .description {
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content {
  display: block;
  padding: 24px 24px 20px;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description {
  width: 100%;
  text-align: left;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description h3 {
  padding-bottom: 15px;
  color: black;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description h2 {
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
  padding-bottom: 15px;
  font-weight: normal;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description h2 .ori-price {
  text-decoration: line-through;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description p {
  color: #666666;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description p.contract-period {
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding-bottom: 15px;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-cta-container {
  width: 100%;
  padding-top: 20px;
  text-align: left;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .promo-container {
  margin: 0 24px 24px;
  text-align: left;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .promo-container .promo-items {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  background: #f5f5f5;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .promo-container .promo-items .promo-image-holder {
  width: 60px;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .promo-container .promo-items .promo-image-holder img {
  width: 100%;
}

#nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .promo-container .promo-items .promo-content {
  width: auto;
  text-align: left;
  margin-left: 15px;
}

#nocx_paywall_area .paywall-container .paywall-content-container .subscription-plan-container {
  margin: 20px auto;
}

#nocx_paywall_area .paywall-container .paywall-content-container .subscription-plan-container h4 {
  color: black;
  padding-bottom: 24px;
}

#nocx_paywall_area .paywall-container .paywall-content-container .subscription-plan-container ul {
  text-align: left;
  padding-left: 20px;
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  list-style-image: url("green-circle-tick.svg");
  margin: 0;
}

#nocx_paywall_area .paywall-container .paywall-content-container .subscription-plan-container ul li {
  margin-bottom: 14px;
}

#nocx_paywall_area .paywall-container .paywall-content-container .faq-container {
  width: 100%;
  margin: 20px 0;
}

#nocx_paywall_area .paywall-container .paywall-content-container .faq-container h4 {
  color: black;
  padding-bottom: 24px;
}

#nocx_paywall_area .paywall-container .subcribe-google {
  text-align: center;
  margin: 40px 0;
  border-top: 6px double transparent;
  background-repeat: repeat-x;
  background-position: 0 -6px;
  background-image: url("a3ff673640f9f0595b4fb200b36585e673ea4138.svg");
}

#nocx_paywall_area .paywall-container .subcribe-google h2 {
  padding-top: 38px;
  font-size: 22px;
  color: black;
}

#nocx_paywall_area .paywall-container .subcribe-google .cta-container {
  width: 316px;
  margin: 10px auto 0;
}

#nocx_paywall_area .paywall-container .subcribe-google::after {
  content: '';
  width: 100%;
  bottom: -35px;
  left: 0;
  position: absolute;
  border-bottom: 6px double transparent;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-image: url("a3ff673640f9f0595b4fb200b36585e673ea4138.svg");
}

@media (min-width: 768px) {
  #nocx_paywall_area .paywall-container .cta-paywall.full {
    width: auto;
  }

  #nocx_paywall_area .paywall-container .paywall-content-container .paywall-header h1 {
    margin-bottom: 1rem;
    font-size: 32px;
  }

  #nocx_paywall_area .paywall-container .paywall-content-container .paywall-header {
    padding: 35px 0;
  }

  #nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 24px 15px;
  }

  #nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description {
    width: 70%;
  }

  #nocx_paywall_area .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-cta-container {
    width: 30%;
    padding-top: 0;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  #nocx_paywall_area .paywall-container .paywall-content-container .subscription-plan-container ul {
    margin: 0 auto;
    padding-left: 0;
  }

  #nocx_paywall_area .paywall-container .paywall-content-container .faq-container {
    margin: 20px auto;
  }

  #nocx_paywall_area .paywall-container .subcribe-google .cta-container {
    margin: 28px auto 0;
  }

  #nocx_paywall_area .paywall-container .subcribe-google::after {
    bottom: -49px;
  }
}
