.premium-read-more.fallback {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1dcdf;
}
.premium-read-more.fallback .details_area {
  margin-top: 40px;
}
.premium-read-more.fallback .details_area p {
  font-size: 20px;
  line-height: 27px;
  color: #333;
  text-transform: none;
  width: 81%;
  margin: auto;
}
.premium-read-more.fallback .details_area h4 {
  font-family: SelaneWebSTForty !important;
  font-size: 30px;
  font-weight: normal !important;
  color: rgba(51, 51, 51, 0) !important;
  line-height: 36px !important;
  text-align: center;
  text-transform: none !important;
  margin-bottom: 15px;
  background: url("") no-repeat;
  background-position: 49% 3px;
}
.premium-read-more.fallback .whatispremium {
  font-size: 16px !important;
  color: #666 !important;
  margin-top: 15px !important;
}
.premium-read-more.fallback .whatispremium a {
  font-weight: bold;
  color: inherit;
  line-height: 1.2em;
  display: inline-block;
  border-bottom: 1px dotted;
  /*margin-right: 5px;*/
}
.premium-read-more.fallback .uppercase {
  text-transform: uppercase !important;
}
@media (min-width: 1200px) {
  .premium-read-more.fallback {
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
}
@media (max-width: 739px) {
  .premium-read-more.fallback .details_area h4 {
    background: url("") no-repeat !important;
    background-position: 49% 3px !important;
    height: 70px !important;
  }
}
.premium-read-more.fallback .details_area p:before {
  display: none;
}
@media (max-width: 767px) {
  .premium-read-more.fallback .details_area p.promo_p_area {
    width: calc(100% + 20px);
    margin-left: -10px;
    max-width: 500px;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .premium-read-more.fallback .details_area p.promo_p_area {
    margin-left: auto;
    margin-right: auto;
  }
}


.premium-read-more:not(.zfallbackz) {
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  clear: both;
}
.premium-read-more:not(.zfallbackz) a,
.premium-read-more:not(.zfallbackz) a:visited {
  color: #12239a;
}
.premium-read-more:not(.zfallbackz) p.pre-paywall-text {
  text-transform: none;
  text-align: left;
  margin-bottom: 30px;
  color: #000;
  line-height: 27px;
  font-size: 20px;
  font-family: SelaneTen;
}
.premium-read-more:not(.zfallbackz) .paywall-box-area {
  /*background: #eff3f4;*/
  display: flex;
  position: relative;
}
.premium-read-more:not(.zfallbackz) .paywall-button-area {
  position: relative;
  margin-top: 20px;
  /*text-align: right;*/
}
.premium-read-more:not(.zfallbackz) .paywall-button-area a {
  display: inline-block;
  font-size: 16px;
  background-color: #13fdfd;
  color: #000;
  border-radius: 15px;
  height: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.premium-read-more:not(.zfallbackz) a.button {
  cursor: pointer;
  text-align: center;
  line-height: 1.8em;
  text-decoration: none;
}
.premium-read-more:not(.zfallbackz) .st-logo {
  display: none;
}
.premium-read-more:not(.zfallbackz) .paywall-text-area {
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  padding: 20px 0;
  color: #000;
  position: relative;
  flex-grow: 1;
  font-size: 16px !important;
}
.premium-read-more:not(.zfallbackz) .paywall-header {
  font-family: SelaneWebSTForty !important;
  font-size: 25px !important;
  font-weight: normal;
  line-height: 32px !important;
  color: #000 !important;
  text-transform: none !important;
  margin: 0;
  /*font-family: Curator;
  font-weight: bold;*/
}
.premium-read-more:not(.zfallbackz) .paywall-text-area ul {
  padding-left: 18px;
}
.premium-read-more:not(.zfallbackz) .paywall-text-area p {
  text-align: left;
  text-transform: none;
}
.premium-read-more:not(.zfallbackz) .paywall-text-area p:before {
  display: none !important;
}
.premium-read-more:not(.zfallbackz) .paywall-text-area ul,
.premium-read-more:not(.zfallbackz) .paywall-text-area p {
  margin: 7px 0 20px;
}
@media (min-width: 740px) {
  .premium-read-more:not(.zfallbackz) .paywall-text-area ul,
  .premium-read-more:not(.zfallbackz) .paywall-text-area p {
    margin: 7px 0 20px;
  }
}
@media (min-width: 1200px) {
  .premium-read-more:not(.zfallbackz) .paywall-text-area ul,
  .premium-read-more:not(.zfallbackz) .paywall-text-area p {
    margin: 7px 0 0;
  }
  .premium-read-more:not(.zfallbackz) .paywall-text-area ul {
    margin-right: 130px !important;
  }
  .premium-read-more:not(.zfallbackz) .paywall-text-area p {
    margin-bottom: 40px !important;
  }
}
.premium-read-more:not(.zfallbackz) .paywall-text-area li {
  list-style: disc outside;
  margin-bottom: 5px;
}


body .premium-read-more.st-bulleted-with-ad .paywall-box-area,
body .premium-read-more.st-paragraph-with-ad .paywall-box-area{
  display: flex;
  flex-direction: column;
}
@media (min-width: 740px) {
  body .premium-read-more.st-bulleted-with-ad .paywall-box-area,
  body .premium-read-more.st-paragraph-with-ad .paywall-box-area {
    flex-direction: row;
  }
  body .premium-read-more.st-bulleted-with-ad .paywall-text,
  body .premium-read-more.st-paragraph-with-ad .paywall-text {
    padding-bottom: 25px;
  }
  body .premium-read-more.st-bulleted-with-ad .paywall-text-area ul {
    margin: 7px 0 0px !important;
  }
}
body .premium-read-more.st-bulleted-with-ad .st-logo,
body .premium-read-more.st-paragraph-with-ad .st-logo {
  bottom: calc(9/16 * (100vw - 20px) + 20px);
  display: none;
}
@media (min-width: 740px) {
  body .premium-read-more.st-bulleted-with-ad .st-logo,
  body .premium-read-more.st-paragraph-with-ad .st-logo {
    position: absolute;
    right: 320px;
    left: auto;
    bottom: 20px;
    top: auto;
    height: 40px;
    width: 40px;
    margin-right: 25px;
    display: block;
  }
}
@media (min-width: 1200px) {
  body .premium-read-more.st-bulleted-with-ad .st-logo {
    height: 60px;
    width: 65px;
  }
}
body .premium-read-more.st-bulleted-with-ad .paywall-button-area,
body .premium-read-more.st-paragraph-with-ad .paywall-button-area {
  position: relative;
  /*margin-left: 40px;
  margin-bottom: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;*/
}
@media (min-width: 740px) {
  body .premium-read-more.st-bulleted-with-ad .paywall-button-area,
  body .premium-read-more.st-paragraph-with-ad .paywall-button-area {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  body .premium-read-more.st-bulleted-with-ad .paywall-button-area,
  body .premium-read-more.st-paragraph-with-ad .paywall-button-area {
    left: 0;
  }
}
body .premium-read-more.st-bulleted-with-ad .paywall-box-area .paywallad-area,
body .premium-read-more.st-paragraph-with-ad .paywall-box-area .paywallad-area {
  height: calc(9/16 * (100vw - 20px)); /*160px;*/
  overflow: hidden;
}
body .premium-read-more.st-bulleted-with-ad .paywall-box-area .paywallad-area img,
body .premium-read-more.st-paragraph-with-ad .paywall-box-area .paywallad-area img {
  height: 100%;
  width: 100%;
}
body .premium-read-more.st-bulleted-with-ad .paywall-box-area .paywallad-area img.padsimgmobile,
body .premium-read-more.st-paragraph-with-ad .paywall-box-area .paywallad-area img.padsimgmobile {
  display: block;
  height: auto;
}
body .premium-read-more.st-bulleted-with-ad .paywall-box-area .paywallad-area img.padsimg,
body .premium-read-more.st-paragraph-with-ad .paywall-box-area .paywallad-area img.padsimg {
  display: none;
}
@media (max-width: 739px) {
  body .premium-read-more.st-bulleted-with-ad .paywall-box-area .paywall-text-area,
  body .premium-read-more.st-paragraph-with-ad .paywall-box-area .paywall-text-area {
    display: none;
  }
}
@media (min-width: 740px) {
  body .premium-read-more.st-bulleted-with-ad .paywall-box-area .paywallad-area,
  body .premium-read-more.st-paragraph-with-ad .paywall-box-area .paywallad-area {
    position: relative;
    /*top: 0;
    right: 0;*/
    height: auto;/*196px*/
    width: 320px;/*183px*/
    min-width: 320px;
    align-self: stretch;
    background: white;
  }
  body .premium-read-more.st-bulleted-with-ad .paywall-box-area .paywallad-area img,
  body .premium-read-more.st-paragraph-with-ad .paywall-box-area .paywallad-area img {
    height: 100%;
    width: auto;
  }
  body .premium-read-more.st-bulleted-with-ad .paywall-box-area .paywallad-area img.padsimgmobile,
  body .premium-read-more.st-paragraph-with-ad .paywall-box-area .paywallad-area img.padsimgmobile {
    display: none;
  }
  body .premium-read-more.st-bulleted-with-ad .paywall-box-area .paywallad-area img.padsimg,
  body .premium-read-more.st-paragraph-with-ad .paywall-box-area .paywallad-area img.padsimg {
    display: block;
    height: 180px;
  }
}
@media (min-width: 740px) {
  body .premium-read-more.st-bulleted-with-ad .paywall-text-area,
  body .premium-read-more.st-paragraph-with-ad .paywall-text-area {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  body .premium-read-more.st-paragraph-with-ad .paywall-text-area p {
    margin-bottom: 17px !important;
  }
}

.premium-read-more.fallback .promo_p_area img {
  width: 100%;
}

.premium-read-more:not(.zfallbackz) .paywall-text-area p.footnote {
  font-size: 13px !important;
  margin-top: 20px;
  margin-bottom: 0px !important;
  color:#656565;
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 740px) {
  .premium-read-more:not(.zfallbackz) .paywall-text-area ul + p.footnote {
    margin-top: -25px;
    margin-bottom: 9px !important;
  }
  .premium-read-more:not(.zfallbackz) .paywall-text-area p + p.footnote {
    margin-top: -26px;
    margin-bottom: 10px !important;
  }
}
@media (min-width: 1200px) {
  .premium-read-more:not(.zfallbackz) .paywall-text-area ul + p.footnote {
    margin-top: 4px;
    margin-bottom: 0 !important;
  }
  .premium-read-more:not(.zfallbackz) .paywall-text-area p + p.footnote {
    margin-top: -36px;
    margin-bottom: 40px !important;
  }
}

.paywallad-area.flexy {
  display: flex;
}
.paywallad-area.flexy > a {
  align-self: flex-end;
}

.premium-read-more {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.bulleted-paywall-image img {
  float:right;
  width:300px;
  height:200px;
}
.bulleted-paywall-image  {
    top: 25px;
    position: absolute;
    right: 0;
}



@media (min-width: 700px) {
  .st-bulleted-with-image.premium-read-more:not(.zfallbackz) .paywall-text-area ul,  .st-bulleted-with-image .paywall-header {
    margin-right: 320px !important;
  }
}

@media (max-width: 700px) {
  .st-bulleted-with-image.premium-read-more .bulleted-paywall-image img {
    width:100%;
    height: auto;
    margin-bottom: 18px;
    margin-top: 15px;
  }
  .st-bulleted-with-image.premium-read-more .bulleted-paywall-image {
    position: static;
  }
  .st-bulleted-with-image.premium-read-more .premium-read-more:not(.zfallbackz) .paywall-text-area ul {
    clear: both;
  }
}

.st-bulleted-with-image.premium-read-more:not(.zfallbackz) .paywall-text-area li, .st-bulleted.premium-read-more:not(.zfallbackz) .paywall-text-area li  {
  font-size: 16px;
  line-height: 22px;
}

.st-bulleted-with-image.premium-read-more:not(.zfallbackz) .paywall-button-area, .st-bulleted.premium-read-more:not(.zfallbackz) .paywall-button-area {
  margin-top: 25px;
}

@media  (min-width: 700px) {
  .st-bulleted.premium-read-more:not(.zfallbackz) .paywall-text-area ul {
    margin-right:10px;
  }
}
.st-bulleted.premium-read-more:not(.zfallbackz) .st-logo {
  display:block;
  background: url("") no-repeat;
  background-size: cover;
  width: 215px;
  height: 195px;
  background-position: 61% 45%;
  position: absolute;
  flex-shrink: 0;
  right: 0;
  bottom:0;
}
@media  (max-width: 700px) {
  .st-bulleted-with-image.premium-read-more:not(.zfallbackz) .paywall-text-area ul {
    clear: both;
  }
}
.st-bulleted.premium-read-more:not(.zfallbackz) .paywall-text-area li, .st-bulleted-with-image.premium-read-more:not(.zfallbackz) .paywall-text-area li {
  list-style-position: outside;
  margin-bottom: 5px;
}


.paywall-container {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.paywall-container *,.paywall-container *::before,.paywall-container *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.paywall-container h1,.paywall-container h2,.paywall-container h3,.paywall-container h4,.paywall-container h5,.paywall-container h5 {
  font-family: "SelaneWebSTForty", "Times New Roman", Times, serif;
  font-weight: 400;
}

.paywall-container h1 {
  font-size: 32px;
}

.paywall-container h2 {
  font-size: 20px;
}

.paywall-container h3 {
  font-size: 22px;
}

.paywall-container h4 {
  font-size: 20px;
}

.paywall-container p {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 0;
}

.paywall-container p.gray-900 {
  color: #1a1a1a;
}

.paywall-container p.semi-bold {
  font-weight: 600;
}

.paywall-container p.st {
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.paywall-container p.google {
  padding-top: 9px;
  font-family: 'Barlow', 'Roboto',  Helvetica, Arial, sans-serif;
}

.paywall-container a:hover,.paywall-container a:active,.paywall-container a:link {
  text-decoration: none;
}

.paywall-container a.st {
  color: #12239a;
}

.paywall-container a.cta-faq {
  color: #12239a;
}

.paywall-container a.cta-google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: #6c757d;
  font-family: 'Barlow', 'Roboto',  Helvetica, Arial, sans-serif;
  padding: 12px;
  border: 1px solid #bdbdbd;
  border-radius: 40px;
}

.paywall-container a p {
  line-height: 100%;
}

.paywall-container .cta-paywall {
  font-size: 18px;
  background-color: #13fdfd;
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  display: inline-block;
  padding: 5px 24px 5px;
  border-radius: 20px;
}

.paywall-container .cta-paywall.outline {
  background-color: #fff;
  border: 1px solid #13fdfd;
}

.paywall-container .cta-paywall.full {
  width: 100%;
}

.paywall-container::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(12.3%, #fff), color-stop(89.6%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, #fff 12.3%, rgba(255, 255, 255, 0) 89.6%);
  background: linear-gradient(0deg, #fff 12.3%, rgba(255, 255, 255, 0) 89.6%);
}

.paywall-container .subscriber-query-container {
  text-align: center;
  padding-top: 25px;
}

.paywall-container .subscriber-query-container p {
  font-weight: 500;
  margin: 25px auto 15px;
}

.paywall-container .paywall-content-container {
  padding: 0 15px;
  text-align: center;
  border-top: 1px solid #cfd2d7;
  border-bottom: 1px solid #cfd2d7;
}

.paywall-container .paywall-content-container .paywall-header {
  padding: 25px 0;
}

.paywall-container .paywall-content-container .paywall-header h1 {
  margin-bottom: 24px;
  font-size: 22px;
}

.paywall-container .paywall-content-container .paywall-plan {
  border: 1px solid #dee2e6;
  width: 100%;
  margin: 0 auto 20px;
  border-radius: 4px;
}

.paywall-container .paywall-content-container .paywall-plan.recommended-plan {
  border: 1px solid #fbdb32;
}

.paywall-container .paywall-content-container .paywall-plan.recommended-plan .recommended {
  background-color: #fbdb32;
}

.paywall-container .paywall-content-container .paywall-plan.recommended-plan .recommended .description {
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.paywall-container .paywall-content-container .paywall-plan .paywall-content {
  display: block;
  padding: 24px 24px 20px;
}

.paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description {
  width: 100%;
  text-align: left;
}

.paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description h3 {
  padding-bottom: 15px;
  color: black;
}

.paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description h2 {
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
  padding-bottom: 15px;
  font-weight: normal;
}

.paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description h2 .ori-price {
  text-decoration: line-through;
}

.paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description p {
  color: #666666;
}

.paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description p.contract-period {
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding-bottom: 15px;
}

.paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-cta-container {
  width: 100%;
  padding-top: 20px;
  text-align: left;
}

.paywall-container .paywall-content-container .paywall-plan .promo-container {
  margin: 0 24px 24px;
  text-align: left;
}

.paywall-container .paywall-content-container .paywall-plan .promo-container .promo-items {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  background: #f5f5f5;
}

.paywall-container .paywall-content-container .paywall-plan .promo-container .promo-items .promo-image-holder {
  width: 60px;
}

.paywall-container .paywall-content-container .paywall-plan .promo-container .promo-items .promo-image-holder img {
  width: 100%;
}

.paywall-container .paywall-content-container .paywall-plan .promo-container .promo-items .promo-content {
  width: auto;
  text-align: left;
  margin-left: 15px;
}

.paywall-container .paywall-content-container .subscription-plan-container {
  margin: 20px auto;
}

.paywall-container .paywall-content-container .subscription-plan-container h4 {
  color: black;
  padding-bottom: 24px;
}

.paywall-container .paywall-content-container .subscription-plan-container ul {
  text-align: left;
  padding-left: 20px;
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  list-style-image: url("green-circle-tick.svg");
  margin: 0;
}

.paywall-container .paywall-content-container .subscription-plan-container ul li {
  margin-bottom: 14px;
}

.paywall-container .paywall-content-container .faq-container {
  width: 100%;
  margin: 20px 0;
}

.paywall-container .paywall-content-container .faq-container h4 {
  color: black;
  padding-bottom: 24px;
}

.paywall-container .subcribe-google {
  text-align: center;
  margin: 40px 0;
  border-top: 6px double transparent;
  background-repeat: repeat-x;
  background-position: 0 -6px;
  background-image: url("a3ff673640f9f0595b4fb200b36585e673ea4138.svg");
}

.paywall-container .subcribe-google h2 {
  padding-top: 38px;
  font-size: 22px;
  color: black;
}

.paywall-container .subcribe-google .cta-container {
  width: 316px;
  margin: 10px auto 0;
}

.paywall-container .subcribe-google::after {
  content: '';
  width: 100%;
  bottom: -35px;
  left: 0;
  position: absolute;
  border-bottom: 6px double transparent;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-image: url("a3ff673640f9f0595b4fb200b36585e673ea4138.svg");
}

@media (min-width: 768px) {
  .paywall-container .cta-paywall.full {
    width: auto;
  }

  .paywall-container .paywall-content-container .paywall-header h1 {
    margin-bottom: 1rem;
    font-size: 32px;
  }

  .paywall-container .paywall-content-container .paywall-header {
    padding: 35px 0;
  }

  .paywall-container .paywall-content-container .paywall-plan .paywall-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 24px 15px;
  }

  .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-plan-description {
    width: 70%;
  }

  .paywall-container .paywall-content-container .paywall-plan .paywall-content .paywall-cta-container {
    width: 30%;
    padding-top: 0;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .paywall-container .paywall-content-container .subscription-plan-container ul {
    margin: 0 auto;
    padding-left: 0;
  }

  .paywall-container .paywall-content-container .faq-container {
    margin: 20px auto;
  }

  .paywall-container .subcribe-google .cta-container {
    margin: 28px auto 0;
  }

  .paywall-container .subcribe-google::after {
    bottom: -49px;
  }
}

/*price centric paywall*/
.paywall-container-price-variant1 .paywall-subscriber-txt {
  font-family: 'Curator';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  background:#fff; 
  padding:0 10px; 
  text-align: center;
}
.paywall-container-price-variant1 .bannerbox-area {
  border: 1px solid rgba(12, 43, 87, 0.5);
  box-sizing: border-box;
  position: relative;
}
.paywall-container-price-variant1 .primary-description{
  padding: 7px 20px 20px 20px;
  font-family: 'Curator';
  font-style: normal;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 140%;
  color: #000000;
}
.paywall-container-price-variant1 .contract-description{
  padding:20px 20px 12px 20px;
  font-family: 'Curator';
  font-style: normal;
  font-weight: 400;
  font-size: 13px !important;
  line-height: 140%;
  color: #2F2F2F;
}
.paywall-container-price-variant1 .promo-banner{
  position: relative;
  top: -14px;
  height: 10px;
  text-align: center;
}
.paywall-container-price-variant1 .st-logo {
  display:block;
  background: url("") no-repeat;
  background-size: cover;
  width: 215px;
  height: 195px;
  background-position: 61% 45%;
  position: absolute;
  flex-shrink: 0;
  right: 10px;
  bottom:0;
}
.paywall-container-price-variant1 .hrline {
  height: 0px;
  margin:0px 10px;
  opacity: 0.5;
  border: 1px solid #0C2B57;
}
.paywall-container-price-variant1 .paywall-header {
  font-family: 'SelaneWebSTForty';
  font-style: normal;
  font-weight: 400;
  font-size: 22px !important;
  line-height: 140%;
  color: #000000;
  padding: 10px 0px 25px;
}
.paywall-container-price-variant1 .paywall-price {
  padding-left:13px;
  width: 91px;
  font-family: 'SelaneWebSTTwenty';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  color: #000000;
  opacity: 0.4;
  text-decoration: line-through
}
.paywall-container-price-variant1 .paywall-price-month {
  padding-left:10px;
  font-family: 'SelaneWebSTTwenty';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 140%;
  color: #000000;
}
.paywall-container-price-variant1 .paywall-price-month-txt {
  font-family: 'SelaneWebSTTwenty';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
}
.paywall-container-price-variant1 .cta-paywall {
  font-size: 16px !important;
  background-color: #13fdfd;
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  display: inline-block;
  padding: 2px 30px 5px !important;
  border-radius: 20px;
  text-decoration: none;
  height: 29px;
}
.paywall-container-price-variant1 .paywall-cta-container {
  display: flex;
  padding-left: 20px;
}
.paywall-container-price-variant1 h3 {
  text-align: center; 
  border-bottom: 1px solid #B4B4B4; 
  line-height: 3px;
  margin: 40px 0 20px;
  width: 100%;
}

.paywall-container-price-variant1 .paywall-subscriber-cont{
  text-align: center;
  padding-top: 1px;
}

@media (max-width: 767px) {
  .paywall-container-price-variant1 {
      margin: 0 auto;
      max-width: 100%;
  }
  .paywall-container-price-variant1 .paywall-header{
      padding: 20px 12px 25px 10px;
  }

  .paywall-container-price-variant1 .primary-description{
      padding: 20px 15px;
  }
  
  .paywall-container-price-variant1 .paywall-price{
      padding-left: 15px;
  }
  .paywall-container-price-variant1 .contract-description{
      padding: 20px 10px 11px 15px;
  }
}

/*Benefit based variant*/
.paywall-container-benefit-variant1 .paywall-subscriber-txt {
  font-family: 'Curator';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  background:#fff; 
  padding:0 10px; 
  text-align: center;
}
.paywall-container-benefit-variant1 .bannerbox-area {
  border: 1px solid rgba(12, 43, 87, 0.5);
  box-sizing: border-box;
  position: relative;
}
.paywall-container-benefit-variant1 .primary-description{
  font-family: 'Curator';
  font-style: normal;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 140%;
  color: #000000;
  padding-bottom: 20px;
}
.paywall-container-benefit-variant1 .contract-description{
  padding: 20px 0px 15px;
  font-family: 'Curator';
  font-style: normal;
  font-weight: 400;
  font-size: 13px !important;
  line-height: 140%;
  color: #2F2F2F;
}
.paywall-container-benefit-variant1 .st-logo {
  display:block;
  background: url("") no-repeat;
  background-size: cover;
  width: 215px;
  height: 195px;
  background-position: 61% 45%;
  position: absolute;
  flex-shrink: 0;
  right: 10px;
  bottom:0;
}
.paywall-container-benefit-variant1 .hrline {
  height: 0px;
  opacity: 0.7;
  border: 1px solid #B4B4B4;
}
.paywall-container-benefit-variant1 .paywall-header {
  font-family: 'SelaneWebSTForty';
  font-style: normal;
  font-weight: 400;
  font-size: 22px !important;
  line-height: 26px;
  color: #000000;
  padding: 20px 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.paywall-container-benefit-variant1 .cta-paywall {
  font-size: 18px !important;
  background-color: #13fdfd;
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  display: inline-block;
  padding: 5px 29px 5px !important;
  border-radius: 20px;
  text-decoration: none;
}
.paywall-container-benefit-variant1 .paywall-cta-container {
  display: flex;
  padding-left: 20px;
}
.paywall-container-benefit-variant1 h3 {
  text-align: center; 
  border-bottom: 1px solid #B4B4B4; 
  line-height: 3px;
  margin: 40px 0 20px;
  width: 100%;
}

.paywall-container-benefit-variant1 .paywall-subscriber-cont{
  text-align: center;
  padding-top: 1px;
}

.paywall-container-benefit-variant1 .subscription-plan-container{
  font-family: "Curator", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:  18px;
  padding-left: 25px;
  line-height: 140%;
}

.paywall-container-benefit-variant1 .benefit-title{
  font-family: 'SelaneWebSTForty';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding: 30px 0px 10px;
}

@media (max-width: 767px) {
  .paywall-container-benefit-variant1 {
      margin: 0 auto;
      max-width: 100%;
  }
  .paywall-container-benefit-variant1 .paywall-header{
      padding: 20px 12px 25px 10px;
  }
  .paywall-container-benefit-variant1 .primary-description{
      padding: 20px 10px;
  }
  .paywall-container-benefit-variant1 .benefit-title{
      padding: 30px 10px 10px;
  }
  .paywall-container-benefit-variant1 .paywall-price{
      padding-left: 15px;
  }
  .paywall-container-benefit-variant1 .contract-description{
      padding: 20px 0px 15px;
  }
}